.order{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #fafafafa;
}
.order__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order__top > span{
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    border-bottom:  1px solid grey;
    padding-bottom: 10px;
}
.order__idNumber{
    font-size: 2rem;
}
.order__bottom{
    display: flex;
    justify-content: flex-end;
}
.order__bottom > span {
    font-size:2.5rem;
    font-weight: 600;
    
}