.feed{
    display: flex;
    flex-direction: column;
}

.feed__image{
    width: 100%;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.feed__description{
    position: absolute;
    color: #ffffff;
    font-size: 2rem;
    top:150px;
    right: 30px;
    font-style: italic;
    font-weight: 600;
}
.feed__description > p{
   text-shadow: 2px 2px 2px #000000;
   margin-bottom: 10px;
}
.feed__products{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -400px;
}
.feed__row{
    width: 100%;
    display: flex;
    justify-content: space-around;
}