.feed__image{
    width: 100%;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.feed__description{
    position: absolute;
    color: #ffffff;
    font-size: 2rem;
    top:150px;
    right: 30px;
    font-style: italic;
    font-weight: 600;
}
.feed__description > p{
   text-shadow: 2px 2px 2px #000000;
   margin-bottom: 10px;
}
.feed__products{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -400px;
}
.feed__row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top:20px;
}
@media screen and (max-width: 940px){
    .feed__products{
        margin-top: -250px;
    }
}
@media screen and (max-width: 710px){
    .feed__products{
        margin-top: -200px;
    }
    .feed__row{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 590px){
    .feed__products{
        margin-top: -100px;
    }
}
@media screen and (max-width: 550px){
    .feed__description{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 420px){
    .feed__description{
        font-size: 1rem;
    }
}
@media screen and (max-width: 360px){
    .feed__description{
        display: none;
    }

}
@media screen and (max-width: 250px){
    .feed__baner{
        display: none;
    }
    .feed__products{
        margin-top: 50px;
    } 
}