.orderDetails{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fafafafa;
    min-height: 100%;
}
.orderDetails > h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}
 .orderDetails__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderDetails__top > span{
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.orderDetails__idNumber{
    font-size: 2rem;
}
.orderDetails__top > small{
    font-weight: 600;
}
.orderDetails__bottom{
    display: flex;
    justify-content: space-between;
}
.orderDetails__adressDelivery{
    margin-bottom: 20px;
}
.orderDetails__adressDelivery > p{
    font-size: 1.2rem;
}
.orderDetails__summary {
    font-size:2rem;
    font-weight: 600;
}

@media screen and (max-width: 560px){
    .orderDetails{
        padding-top: 80px;
    }
    .orderDetails__summary{
        font-size: 1.5rem;
    }

}