.header{
    height: 80px;
    background-color: #131921;
}
.header a,
.header a:visited{
    transition: color 0.5s ease-in-out;
    color: #ffffff;
}

.header a:hover{
    color: #808080;
  }
.header__container{
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #131921;
    color: #ffffff;
}
.header__logo{
    width: 100px;
}
.header__options{
    display: flex;
}
.header__option{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    cursor: pointer;
    width: 150px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 2px;
    flex: 1 1;
}

.header__optionTwo{
    font-weight: 600;
    font-size: 1.2rem;
}
.header__basket{
    position: absolute;
    left: 25px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    color: #000000;
    border-radius: 999px;
    width: 25px;
    height: 25px;
    font-weight: 600;
    font-size: 1rem;
}

@media screen and (max-width: 560px){
    .header__container{
        justify-content: center;
        align-items: center;
    }
    .header__image{
        width: 100%;
        justify-self: flex-start;
    }

}