body{
  background-color: #eaeded;
}
a{
  text-decoration: none;

}

button{
  background: #131921;
  color: #ffffff;
  padding: 10px 20px;
  letter-spacing: 2px;
  transition: color 0.75s;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 5px;
}
button:hover{
  color: #808080;
}